*{
    padding: 20px;
}
.login{
    background-color: #e8bcb9;
    padding: 20px;
    border-radius: 50px;
}
.img3{
    border-radius: 20px;
}
.btn{
    background-color: #f5d0ce;
    border-radius: 50px;
    border: none;
    transition: all 0.3s;
}
.btn:hover{
    scale: 1.1;
    background-color: #deafad;
}